@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*
{
    font-family: 'Muli', sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color:#2b88f0;
}
.main_container
{
    display:flex;
    width:600px;
    padding:2rem;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_container h3{
    color:white
}
.main_container textarea
{
    width:100%;
    height:100px;
    padding:1rem;
}
.show
{
    margin:1rem;
    align-self: flex-start;
    background-color:#f0932b;
    color:white;
    padding:1rem;
    border-radius:60px;
}
.tag
{
    display:flex;
    align-items: center;
    justify-content: center;
}